<h1>Species</h1>
<%= paginate @species %>
<ul>
    <% @species.each do |specie| %>
        <li>
            <h3>
                <%= link_to specie.species_name, species_path(specie) %>
            </h3>
        </li>
    <% end %>
</ul>