<h1>Planets</h1>
<ul>
    <% @planets.each do |planet| %>
        <li>
            <h3>
                <%= link_to planet.planet_name, planet_path(planet) %>
            </h3>
        </li>
    <% end %>
</ul>