<h1>Characters</h1>
<ul>
    <% @characters.each do |character| %>
        <li>
            <h3>
                <%= link_to character.character_name, character_path(character) %>
            </h3>
        </li>
    <% end %>
</ul>